<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    
  <title>UAE Lab | Biblioteca</title>
  <link rel="shortcut icon" href="../img/uae.jpg">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="../css/stylesBiblioteca.css">

</head>
<body>

  <header class="header">
    <nav class="nav-main">
      
      <div class="arrow-btn">
        <i class="fas fa-arrow-left"></i>
      </div>

      <label id="topic-top">
        Biblioteca
      </label>

      <i id="avatar" class="fas fa-user-circle"></i>

    </nav>
  </header>

  <div class="espacio">1</div>


  <div class="buscar">
    <div>
      
        <input id="busc" type="text" placeholder="Buscar..." />
        <input id="aceptar" type="submit" value="BUSCAR" />
      
    </div>
    <div>

  </div>



  <div id="cardsID" class="cards">
    
  </div>


</body>

<!-- Scroll Reveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="../js/mainBibliotecabuscar.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>