<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    

    <title>UAE Lab | Contactanos</title>
  <link rel="shortcut icon" href="../img/uae.jpg">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="../css/stylesContacto.css">

</head>
<body>

  <header class="header">
    <nav class="nav-main">
      <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
      </div>

      <label id="topic-top">
        Contactanos
      </label>

      <img id="avatar" src="<%= user.picture %>" alt="">

      <!-- Navigation -->
      <!-- Left Nav -->
      <ul class="nav-menu">
        <li>
          <img src="../img/uae.jpg" alt="uae Logo" class="nav-brand">
        </li>
        <li>
          <a href="/inicio">Inicio</a>
        </li>
        <li>
          <a href="/biblioteca">Biblioteca</a>
        </li>
        
        <li>
          <a href="/laboratorios">Laboratorios</a>
        </li>
        <li>
          <a href="/contacto">Contáctanos</a>
        </li>

        <li>
          <a href="/logout">Cerrar Sesión</a>
        </li>
        
      </ul>
    </nav>
  </header>


  <div>.</div>
  <div id="enlaces">
    <img id="img-div" src="../img/uae.jpg" alt="uae Logo">
    <a class="button" href="https://www.facebook.com/uaeinstein" target="_blank">Facebook</a>
    <a class="button" href="https://www.uae.edu.sv/" target="_blank">Sitio Web</a>
    <a class="button" href="tel:22127600" target="_blank">Llámanos</a>
    <a class="button" href="https://portaluae.app/" target="_blank">Portal UAE</a>
  </div>

 
  

</body>
<script>
  document.querySelector(".menu-btn").addEventListener("click", () => {
  document.querySelector(".nav-menu").classList.toggle("show");
  })
</script>

<!-- Scroll Reveal -->
<script src="https://unpkg.com/scrollreveal"></script>

</html>