<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UAE Lab | Login</title>
    <base href="/">
    <link rel="shortcut icon" href="../img/uae.jpg">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesIndex.css">

    <meta name="google-signin-client_id" content="972292004086-4m3cpi1gvnn9fijf1ft9ot2cipkoa2hq.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    
</head>
<body>


    <div class="contenedor">

        <img src="../img/uae.jpg">

        <label for="tab-1" class="tab1">UAE LAB</label>
        <label for="tab-2" class="tab2">Inicio de Sesión</label>

        <p class="tab-p" >
            Para ingresar en la plataforma de la Universidad Albert Einstein UAE LAB
            debes de ingresar las credenciales de tu cuenta instiruciónal de google existente 
            en el botón de abajo.
        </p>

        <div class="g-signin2" data-onsuccess="onSignIn"
        data-logo_alignment="left"
        data-width="150">
        </div>

    </div>



    <!-- <a href="#" onclick="signOut();">Sign out</a> -->
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>

    <script>
        function onSignIn(googleUser) {
            // var profile = googleUser.getBasicProfile();
            // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            // console.log('Name: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

            var id_token = googleUser.getAuthResponse().id_token;
            // console.log(id_token);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/login');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                console.log('Signed in as: ' + xhr.responseText);
                if (xhr.responseText == 'success') {
                    signOut();
                    location.assign('/inicio')
                }
            };
            xhr.send(JSON.stringify({ token: id_token }));
        }
    </script>


    
</body>
</html>