/* Global */
* {
	font-family: "Oswald", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: initial;
  }
  
  @media screen and (min-width: 821px){
  
	body {
		background: url(/img/uae7.jpg);
		font-family: "Oswald", sans-serif;
		background-color: #fff;
		font-size: 120%;
		padding-top: 0%;
		font-weight: initial;
	  }
	  
	  .nav-menu {
		visibility: hidden;
	  }
	  
	  
.header{
	background-color: #ff6600;
	height: 52px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  }
  
  #topic-top {
	margin-top: 0%;
	color: #ffffff;
	position: fixed;
	width: auto;
	text-align: center;
	margin-left: 40%;
	font-weight: initial;
	font-size: 275%;
  }
  
  #avatar{
	cursor: pointer;
	position: fixed;
	margin-left: 95%;
	margin-top: 5px;
	padding-bottom: 0;
	width: 42px;
	border-radius: 100px;
  }
	  
	  .contenedor{
		  background-color: #0d245f;
		  margin: 55px 3% 3% 3%;
		  padding: 1% 2% 5% 5%;
		  width: 55%;
		  height: 600px;
		  margin-left: 25%;
		  color: #fff;
	  }
	  
	  
	  /*Enlaces*/
	  a {
		color: #ffffff;
		text-decoration: none;
	  }
	  
	  a:hover{
		text-decoration: solid;
		color: #ff6600;
	  }
	  
	  /*Lista*/
	  ul {
		list-style: none;
	  }
	
	  #imguae{
		width: 15%;
		height: auto;
		margin-top: 20px;
		margin-left: 40%;
		margin-bottom: 10px;
		display: block;
	  }
	  
	  
  
  .form1{
	  margin-top: 1%;
	  margin-bottom: 0%;
  }
  
  .form1 input,
  .form1 select{
	  margin-right: 0%;
	  padding-right: 0%;
	  margin-left: 1%;
	  padding-bottom: 1%;
	  padding-left: 1%;
	  margin-top: 20px;
	  padding-top: 1%;
	  width: 60%;
	  height: 40px;
	  border-radius: 7px;
	  font-size: 125%;
  }

  
  .form1 label{
	  width: 25%;
	  padding: 0 0 0 0;
	  margin: 4% 0 0 0;
	  float: left;
	  text-align: right;
	  font-size: 145%;
  }


  .check label{
	width: auto;
	padding: 0 0 0 0;
	margin: 5% 0 0 0;
	margin-right: 60px;
	font-size: 125%;
	display: inline-block;
  }

  .check input{
	margin-right: 10px;
	padding-right: 0;
	margin-left: 0%;
	padding-bottom: 0;
	padding-left: 0%;
	margin-top: 0;
	padding-top: 0;
	width: 16px;
	display:inline-block;
}

  .check{
	  font-family: "Oswald", sans-serif;
	  margin-top: 20px;
	  margin-left: 2%;
	  margin-bottom: 10px;
	  display: grid;
      grid-template-columns: repeat(6, 0fr);
	  gap: 5px;
  }





  
  #guardar{
	  background-color: #ff6600;
	  font-family: "Oswald", sans-serif;
	  border-style: none;
	  font-size: 150%;
	  width: 130px;
	  height: 40px;
	  margin-left: 65%;
	  padding: 0% 1% 1% 1%;
	  margin-top: 30px;
	  border-radius: 25px;
	  color: #fff;
	  cursor: pointer;
	  text-align: center;
  }
  
  
.nav-brand {
	width: 35%;
	border-radius: 15px;
  }
  
  
  /* Responsive Button */
  .menu-btn {
	  cursor: pointer;
	  position: fixed;
	  padding-left: 1%;
	  padding-top: 0.5%;
	  padding-bottom: 0.5%;
	  color: #ffffff;
	  font-size: 100%;
	}
  


/* Responsive Button */
.arrow-btn {
    cursor: pointer;
    position: fixed;
    padding-left: 1%;
    padding-top: 0.2%;
    padding-bottom: 1%;
    color: #ffffff;
    font-size: 25px;
    
  }
  
  
	.menu-btn:hover {
	  opacity: 0.5;
	}
  
	.nav-main ul.nav-menu {
	  visibility: visible;
	  display: block;
	  position: fixed;
	  top: 8%;
	  left: 0;
	  background: #2f3640;
	  width: 25%;
	  height: 100%;
	  border-right: #ccc 0 solid;
	  opacity: 1;
	  padding: 60px 50px;
	  transform: translateX(-1000px);
	  transition: transform 0.5s ease-in-out;
	  
	}
  
	.nav-main ul.nav-menu li {
	  padding: 10%;
	  border-bottom: #ccc solid 0;
	  font-size: 100%;
	  position: relative;
	  text-align: center;
	}
	.nav-main ul.nav-menu li:last-child {
	  border-bottom: 0;
	}
  
	.nav-main ul.nav-menu.show {
	  transform: translateX(-20px);
	}
  
	.nav-main ul.nav-menu-right {
	  margin-right: 50px;
	}
	
  
  
  }
  
  
  /* MOBILE MODE */
  @media screen and (min-width: 501px) and (max-width: 820px){
  
	body {
		background: url(/img/uae7.jpg);
		font-family: "Oswald", sans-serif;
		background-color: #8080;
		font-size: 120%;
		padding-top: 0%;
		font-weight: initial;
	  }
	  
	  .nav-menu {
		visibility: hidden;
	  }
	  
	  .header{
		background-color: #ff6600;
		width: 100%;
		height: 52px;
		position: fixed;
		padding: 0%;
		margin: 0%;
	  }
	  
	  #topic-top {
		text-align: center;
		font-size: 270%;
		color: #fff;
		position: fixed;
		margin-left: 33%;
		width: auto;
		font-weight: initial;
	  }
	
	  #avatar{
		cursor: pointer;
		position: fixed;
		margin-left: 94%;
		margin-top: 0.8%;
		padding-bottom: 0;
		width: 5%;
		border-radius: 100px;
	  }
	
	
	  .contenedor{
		background-color: #0d245f;
		margin: 100px 1% 1% 1%;
		padding: 1% 1% 1% 1%;
		width: 70%;
		height: 800px;
		margin-left: 15%;
		color: #fff;
	}
	
	
	/*Enlaces*/
	a {
	  color: #ffffff;
	  text-decoration: none;
	}
	
	a:hover{
	  text-decoration: solid;
	  color: #ff6600;
	}
	
	/*Lista*/
	ul {
	  list-style: none;
	}
  
	#imguae{
	  width: 25%;
	  height: auto;
	  margin-top: 10%;
	  margin-left: 40%;
	  margin-bottom: 10%;
	  display: block;
	}
	
	

.form1{
	margin-top: 10%;
	margin-bottom: 3%;
}

.form1 input,
.form1 select{
	margin-right: 0%;
	padding-right: 0%;
	margin-left: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	margin-top: 20px;
	padding-top: 1%;
	width: 60%;
	height: 40px;
	border-radius: 7px;
	font-size: 135%;
}


.form1 label{
	width: 25%;
	padding: 0 0 0 0;
	margin: 5% 0 0 0;
	float: left;
	text-align: right;
	font-size: 155%;
}



.check label{
	width: auto;
	padding: 0 0 0 0;
	margin: 5% 0 0 0;
	margin-right: 60px;
	font-size: 125%;
	display: inline-block;
  }

  .check input{
	margin-right: 10px;
	padding-right: 0;
	margin-left: 0%;
	padding-bottom: 0;
	padding-left: 0%;
	margin-top: 0;
	padding-top: 0;
	width: 16px;
	display:inline-block;
}

  .check{
	  font-family: "Oswald", sans-serif;
	  margin-top: 20px;
	  margin-left: 5%;
	  margin-bottom: 10px;
	  display: grid;
      grid-template-columns: repeat(6, 0fr);
	  gap: 5px;
  }




#guardar{
	background-color: #ff6600;
	font-family: "Oswald", sans-serif;
	border-style: none;
	font-size: 170%;
	width: 30%;
	height: 50px;
	margin-left: 65%;
	margin-top: 20px;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

  
	  
  
  /* Responsive Button */
  .menu-btn {
    cursor: pointer;
    position: fixed;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    color: #ffffff;
    
  }


  /* Responsive Button */
  .arrow-btn {
    cursor: pointer;
    position: fixed;
    padding-left: 2%;
    padding-top: 0.1%;
    padding-bottom: 0%;
    color: #ffffff;
    font-size: 30px;
    
  }



  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    visibility: visible;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    background-color: #2c3e50;
    position: fixed;
    top: 52px;
    width: 50%;
    padding: 5%;

    height: calc(100%);
    overflow-y: auto;

    transform: translateX(-2000px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 10%;
    padding-top: 5%;
    width: auto;
    border-bottom: #ccc solid 0;
    font-size: 125%;
    position: relative;
    text-align: center;
  }

  .nav-brand {
    width: 25%;
    border-radius: 15px;
    
  }

  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(0px);
  }


  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }
  
	
  }
  
  
  
  /* MOBILE MODE */
  @media screen and (min-width: 160px) and (max-width: 500px){
  
	body {
		font-family: "Oswald", sans-serif;
		background-color: #0d245f;
		font-size: 110%;
		padding-top: 0%;
		font-weight: initial;
	  }
	  
	  .nav-menu {
		visibility: hidden;
	  }
	  
	  .header{
		background-color: #ff6600;
		width: 100%;
		height: 40px;
		position: fixed;
		padding: 0%;
		margin: 0%;
	  }
	  
	  #topic-top {
		text-align: center;
		font-size: 240%;
		color: #fff;
		position: fixed;
		margin-left: 15%;
		width: auto;
		font-weight: initial;
	  }
	
	  #avatar{
		cursor: pointer;
		position: fixed;
		margin-left: 89%;
		margin-top: 4px;
		padding-bottom: 0;
		width: 33px;
		border-radius: 100px;
	  }
	

	.contenedor{
		background-color: #0d245f;
		margin: 23px 3% 3% 3%;
		padding: 3% 2% 5% 5%;
		width: 100%;
		height: 700px;
		margin-left: 0%;
		color: #fff;
		position: fixed;
	}
	
	
	/*Enlaces*/
	a {
	  color: #ffffff;
	  text-decoration: none;
	}
	
	a:hover{
	  text-decoration: solid;
	  color: #ff6600;
	}
	
	/*Lista*/
	ul {
	  list-style: none;
	}
  
	#imguae{
	  width: 25%;
	  height: auto;
	  margin-top: 10%;
	  margin-left: 40%;
	  margin-bottom: 10px;
	  display: block;
	}
	
	

.form1{
	margin-top: 2%;
	margin-bottom: 0%;
}

.form1 input,
.form1 select{
	margin-right: 0%;
	padding-right: 0%;
	margin-left: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	margin-top: 20px;
	padding-top: 1%;
	width: 70%;
	height: 40px;
	border-radius: 7px;
	font-size: 130%;
}


.form1 label{
	width: 25%;
	padding: 0 0 0 0;
	margin: 8% 0 0 0;
	float: left;
	text-align: right;
	font-size: 145%;
}



.check label{
	width: auto;
	padding: 0 0 0 0;
	margin: 5% 0 0 0;
	margin-right: 60px;
	font-size: 125%;
	display: inline-block;
  }

  .check input{
	margin-right: 10px;
	padding-right: 0;
	margin-left: 0%;
	padding-bottom: 0;
	padding-left: 0%;
	margin-top: 10px;
	padding-top: 0;
	width: 16px;
	display:inline-block;
}

  .check{
	  font-family: "Oswald", sans-serif;
	  margin-top: 20px;
	  margin-left: 2%;
	  margin-bottom: 10px;
	  display: grid;
      grid-template-columns: repeat(4, 0fr);
	  gap: 5px;
  }




#guardar{
	background-color: #ff6600;
	font-family: "Oswald", sans-serif;
	border-style: none;
	font-size: 150%;
	width: 40%;
	height: 50px;
	margin-left: 55%;
	margin-top: 30px;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

	
	/* Responsive Button */
	.menu-btn {
	  cursor: pointer;
	  position: fixed;
	  padding-left: 3%;
	  padding-top: 1%;
	  padding-bottom: 0%;
	  color: #ffffff;
	  
	}


	.arrow-btn {
		cursor: pointer;
		position: fixed;
		padding-left: 3%;
		padding-top: 0.2%;
		padding-bottom: 0%;
		color: #ffffff;
		font-size: 25px;
		
	  }
  
  
  
	.menu-btn:hover {
	  opacity: 0.5;
	}
  
	.nav-main ul.nav-menu {
	  visibility: visible;
	  flex-direction: column;
	  align-items: center;
	  margin: 0%;
	  background-color: #2c3e50;
	  position: fixed;
	  top: 48px;
	  width: 100%;
	  padding: 10%;
  
	  height: calc(100% - 10px);
	  overflow-y: auto;
  
	  transform: translateX(-2000px);
	  transition: transform 0.5s ease-in-out;
	}
  
	.nav-main ul.nav-menu li {
	  padding: 5%;
	  padding-top: 10%;
	  width: auto;
	  border-bottom: #ccc solid 0;
	  font-size: 125%;
	  position: relative;
	  text-align: center;
	}
  
	.nav-brand {
	  width: 25%;
	  border-radius: 15px;
	  
	}
  
	.nav-main ul.nav-menu li:last-child {
	  border-bottom: 0;
	}
  
	.nav-main ul.nav-menu.show {
	  transform: translateX(0px);
	}
  
  
	.nav-main ul.nav-menu-right {
	  margin-right: 50px;
	}
  
  
	
  }
  
  